// Import Core Clean Blog SCSS
@import "../assets/vendor/startbootstrap-clean-blog/scss/clean-blog.scss";

.blog-logo {
	width: 50px;
	height: 50px;
	-webkit-filter: drop-shadow(2px 2px 5px rgba(255, 255, 255, 0.9));
     filter: drop-shadow(2px 2px 5px rgba(255, 255, 255, 0.9));
}

.content-home, .content-page, .content-post {
	.mx-auto {
		img {
			max-width: 100%;
		}
	}
}
